:root {
    --amarelo-claro: #f9fb8c;
    --azul-piscina: #4fd3ff;
    --preto-acinzentado: #222121;
    --bs-font-monospace: 'Ubuntu','Inter', sans-serif;
    
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--bs-font-monospace);
}

/*Template Base*/
/*Menu da página */
header{
    background: var(--azul-piscina);
}

nav .itens{
    display: flex;
    flex-direction: row;
    flex: content;
    justify-content: flex-start;
    margin-left: 35px;
}

nav .logo{
    margin-left: 10px;
    color: black;
    font-family: 'Licorice';
    font-weight: bold;

}

nav .itens a{
    color: black;
}

nav .itens a:hover{
    color: whitesmoke;
    border-bottom: 3.5px solid var(--preto-acinzentado);
}

nav .login{
    display: flex;
    flex-direction: row;
    flex: content;
    justify-content: flex-end;
    margin-right: 15px;
}

nav .login a:nth-child(1n+1){
    border-radius: 8px;
    margin-right: 3px;
    color: whitesmoke;
    padding: 15px;
    background-color: var(--preto-acinzentado);
    margin: 5px;
    text-decoration: none;
}

nav .login a:hover{
    background-color: whitesmoke;
    color: var(--preto-acinzentado);
}

/*Template Home*/
/*Container principal*/
main{
    background: linear-gradient(180deg, var(--azul-piscina) 0%, whitesmoke 100%);
}

main .container-principal{
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
}

main .texto-principal{
    width: 650px;
    padding: 60px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

main .texto-principal .titulo{
    font-family: sans-serif;
    font-size: 60px;
    font-weight: bold;
}
main .texto-principal .descricao{
    font-family: 'Ubuntu';
    font-size: 20px;
}

main .texto-principal a{
    border-radius: 8px;
    color: whitesmoke;
    padding: 15px;
    background-color: var(--preto-acinzentado);
    text-decoration: none;
}

main .texto-principal a:hover{
    color: var(--preto-acinzentado);
    background-color: whitesmoke;
}

main .imagem-principal .animal-estimacao{
    width: 580px;
    height: 410px;
    margin-top: -30px;
}

/* Container Quem somos*/
main .container-quem-somos{
    height: 650px;
}

main .container-quem-somos .quem-somos{
    color: black;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

main .container-quem-somos .quem-somos .titulo{
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

main .container-quem-somos .quem-somos .descricao{
    font-family: 'Ubuntu';
    font-size: 17px;
    text-align: center;
}

main .container-quem-somos .quem-somos img{
    width: 580px;
    height: 410px;
    margin-top: -50px;
}

/*Rodapé*/
footer{
    height: 200px;
    background-color: var(--preto-acinzentado);
}