{% extends "animals_app/base.html" %}
{% block title%}
    I Love Animals - Adoção de Animais
{%endblock%}
{% block content %}
{% load static %}
    <main>
        <div class="container-fluid container-principal">
            <div class="texto-principal">
                <h4 class="titulo">Encontre um lar para seu amiguinho 🐾</h4><br>
                <p class="descricao">Somos uma plataforma voluntária com objetivo de divulgar adoções de animais abandonados.
                    <br>Faça parte desse projeto! 
                </p>
                <br>
                <a href="">Seja um colaborador</a>
            </div>
            <div class="imagem-principal">
                <img class="animal-estimacao" src="{% static 'animals_app/img/foto01.png' %}" alt="animais-de-estimacao">
            </div>
        </div>
        <div class="container-fluid container-quem-somos">
            <div class="quem-somos" id="quem-somos">
                <h4 class="titulo">Quem somos</h4>
                <p class="descricao">
                    É comum pessoas hoje em dia adotar animais em situações de rua ou até mesmo animais que outras pessoas não tem condições de manter com os custos e cuidados, 
                    uma das dificuldades é ter acesso a informações sobre adoção de animais, muitos abrigos de animais são desconhecidos e também não tem canais de divulgação.
                    I Love Animals providencia gratuitamente a divulgação de animais para adoção e qualquer pessoa ou instituição poderá se cadastrar e divulgar os animais 
                    que estão disponíveis juntamente com os dados necessários para a pessoa interessada entrar em contato.
                </p>
                <img src="{% static 'animals_app/img/foto02.png'%}" alt="img-quem-somos">
            </div>
        </div>
    </main>
    <footer class="conainer-fluid rodape">

    </footer>
{% endblock %}